.curser-pointer {
  cursor: pointer;
}

a:hover {
  transform: scale(1.06);
  transition: 0.3s;
}

.ScaleButton:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.ScaleButtonSmall:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.ScaleProductCard:hover img{
  transform: scale(1.05);
  transition: 0.5s;
}
.imageTransparentBackground {
  mix-blend-mode: multiply;
}

.place_div {
  width: 100%;
  height: 500px;
}

.image_holder {
  width: 350px;
  height: 300px;
  background-color: rgb(34, 237, 237);
}

.cardScale:hover {
  transform: scale(1.005);
  transition: 0.2s;
  cursor: pointer;
}

.btnActiveBorderNone:active {
  border: none !important;
}

.nav_phone_menu_icon {
  display: none;
}

/* product card heart icon effect */
.heart-container {
  --heart-color: rgb(255, 91, 137);
  position: relative;
  width: 25px;
  height: 25px;
  transition: 0.3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:defaultChecked ~ .svg-container .svg-filled {
  display: block;
}

.heart-container .checkbox:defaultChecked ~ .svg-container .svg-celebrate {
  display: block;
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}

/* phone menu icon  */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(176, 92, 255);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:defaultChecked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:defaultChecked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:defaultChecked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:defaultChecked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:defaultChecked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

.Check_out_Address_list {
  width: calc(100% - 20px);
}

.dotted_border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='black' stroke-width='1' stroke-dasharray='10' stroke-dashoffset='70' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 13px;
}

.Address_card {
  max-width: 300px;
  min-width: 300px;
  height: 250px;
}

.span_btn {
  cursor: pointer;
}

#Admin_login_Password_show_icon {
  position: absolute !important;
  left: 310px;
  top: 15px;
  cursor: pointer;
}

#user_login_password_show {
  position: absolute !important;
  right: 40px;
  top: 230px;
  cursor: pointer;
}

/* Add to cart css  */
.CartBtn {
  width: 105px;
  height: 32.2px;
  border-radius: 12px;
  border: none;
  background-color: rgb(255, 208, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: .5s;
  font-size: 13px;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(54px);
  border-radius: 40px;
  transition-duration: .5s;
}

.CartBtn:hover .text {
  transform: translate(10px,0px);
  transition-duration: .5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}


