.curser-pointer {
  cursor: pointer;
}

a:hover {
  transform: scale(1.06);
  transition: 0.3s;
}

.ScaleButton:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.imageTransparentBackground {
  mix-blend-mode: multiply;
}

.place_div {
  width: 100%;
  height: 500px;
}

.image_holder {
  width: 350px;
  height: 300px;
  background-color: rgb(34, 237, 237);
}

.cardScale:hover {
  transform: scale(1.02);
  transition: 0.2s;
  cursor: pointer;
}
